* {
    box-sizing: border-box;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    margin-inline: 100px;
}

nav {
    background-color:rgb(133, 104, 104);
    color: #fcdfe8;
    padding: 15px;
    position: fixed;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0, 0.2);
}

nav .container {
    display: flex;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 20px;
    margin-left: auto;
}

nav li a {
    color: white;
    margin-inline: 10px;
    text-decoration: none;
    font-size: 15px;
}

#home {
    background-color: rgb(155, 191, 255);
    text-align: center;
    padding-block: 100px;
    padding-top: 100px;
}

#home img {
    width: 200px;
    border-radius: 100%;
    border: solid 1px var(white);
}

#home h1 {
    font-size: 40px;
    margin-block: 10px;
}

#home h4{
    font-size: 25px;
    font-weight: 200;
}

section {
    padding-block: 70px;
}

.title {
    font-size: 35px;
    text-align: center;
    /* margin-block: 40px; */
    margin-bottom: 40px;
}

#about p{
    font-size: 25px;
    text-align: center;
    padding-inline: 250px;
}

#produk {
    background-color: bisque;
}

.card{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0, 0.2) ;
}

.card-text {
    padding: 20px;
}

.card img {
    width: 100%;
    border-radius: 10px;
}

.sosmed .box-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.sosmed .box {
    display:flex;
    align-items:center;
    gap: 10px;
    background-color: #fff;
    border: solid 1px #000;
    border-radius: 10px;
    width: 200px;
    padding: 20px;
}

.sosmed .box:hover{
    background-color: rgb(234, 185, 111);
}

.sosmed .box p {
    font-size: 20px;
}

.sosmed img {
    width: 40px;
}

#contact form {
    padding-inline: 300px;
}

#contact input {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: solid 1px #000;
    margin-bottom: 10px;
}

#contact label{
    font-weight: 600;
}

#contact textarea{
    width: 100%;
    border-radius: 10px;
    border: solid 1px #000;
    margin-top: 10px;
    resize: none;
    padding: 12px;
}
#contact button {
    display: block;
    margin-inline: auto;
    padding: 15px 30px;
    border-radius: 10px;
    border: solid 1px #000;
    font-size: 18px;
    margin-top: 20px;
}

footer{
    text-align: center;
    background-color:rgb(234, 185, 111);
    color: #fff;
    padding: 20px;
}