h1 {
  color: red;
}

h1 {
  font-weight: 700;
  text-decoration: underline;
}

p {
  font-size: 15px;
  background-color: rgb(236, 236, 134);
}

span {
  color: red;
}

.content {
  box-shadow: 10px 13px 0 -1px;
  color: rgba(0, 0, 0, 0.67);
}

#judul1 {
  font-weight: 800;
  color: rgb(230, 124, 124);
  text-decoration: underline;
}
#judul2 {
  font-weight: 800;
  color: rgb(108, 162, 162);
}
.content {
  background-color: rosybrown;
}

.box {
  background-color: red;
  width: 100px;
  height: 100px;
}

.box a {
  color: white;
  font-size: 30px;
}

.box:hover {
  background-color: black;
}

.box a:hover {
  color: aqua;
}

.box:hover > a {
  color: aqua;
}
